.detailsContainer {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  color: rgb(102, 184, 216);
  letter-spacing: 1.5px;
}

.pokemonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemonDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.generalInfo,
.detailedInfo {
  padding: 30px;
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 0 60px rgb(53, 88, 116);
  border-radius: 20px;
  user-select: none;
}

.generalInfo > .title,
.detailedInfo > .title {
  font-size: 30px;
  letter-spacing: 3px;
}

.generalInfo > .status {
  font-style: italic;
}

.generalInfo > .status > span {
  font-style: normal;
  box-shadow: inset 0 0 15px rgb(34, 157, 194);
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 10px;
}

.generalInfo > img {
  zoom: 300%;
  box-shadow: 0px 0px 10px rgb(3, 50, 65);
  border-radius: 10px;
}

.generalInfo > .size {
  font-style: italic;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.generalInfo > .size span {
  font-style: normal;
}

.detailedInfo h3 {
  text-align: center;
}

.detailedInfo .typesContainer,
.detailedInfo .abilitiesContainer {
  width: 100%;
}

.detailedInfo .types,
.detailedInfo .abilities {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  padding: 20px;
}

.detailedInfo .types > span,
.detailedInfo .abilities > span {
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 0 15px rgb(34, 157, 194);
  font-style: italic;
}

.detailedInfo > .stats {
  list-style: none;
  width: 100%;
  padding: 0 20px;
}

.detailedInfo > .stats > .stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}


.navigationIcons {
  cursor: pointer;
  transition: .3s;
  color: rgb(53, 88, 116);
}

.navigationIcons:hover {
  transform: scale(1.2);
  color: white;
  opacity: .7;
}

@media screen and (max-width: 740px) {
  .generalInfo,
  .detailedInfo {
    width: auto;
    padding: 10px;
  }
  .generalInfo > .title,
  .detailedInfo > .title {
    font-size: 20px;
  }
  .generalInfo > .status {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
