.notFound {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    letter-spacing: 1.5px;
}

.notFound a {
    color:  rgb(44, 182, 206);
}