.cardContainer {
    margin-bottom: 10px;
    font-size: 14px;
}

.card {
    box-shadow:  inset 0px 0px 40px rgba(161, 218, 190, 0.63);
    transition: .2s;
    position: relative;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
}

.captured {
    box-shadow: inset 0 0 30px rgb(34, 157, 194);
    position: relative;
    overflow: hidden;
}

.captured::after {
    content: 'CAUGHT';
    box-shadow: inset 0 0 30px rgb(34, 157, 194);
    backdrop-filter: blur(5px);
    position: absolute;
    width: 140%;
    height: 15%;
    top: 45%;
    left: -20%;
    transform: rotateZ(-39deg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    letter-spacing: 2px;
    color: black;
}

.card:hover {
    transform: translateY(-5px);
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card .title {
    letter-spacing: 1.5px;
}

.card a {
    text-decoration: none;
    color: white;
}

.card .types {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .types > .type {
    margin: 0 10px;
    padding: 5px 8px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 0 15px rgb(42, 133, 39);
    font-style: italic;
}

.captureBtn {
    width: 100%;
    text-align: center;
    outline: none;
    border: none;
    font-size: 16px;
    background: none;
    color: white;
    padding: 5px;
    cursor: pointer;
    margin-top: 5px;
    box-shadow: inset 0 0 30px rgb(34, 157, 194);
    border-radius: 10px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: .2s;
}

.captureBtn:hover {
    transform: translateY(5px);
}